<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" style="color:white;">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"  >Add employee<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
  <!-- Links -->

  <form class="form-inline my-2 my-lg-0" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="key" id="searchName" placehorlder="search employees..." required>
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>

