<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" style="color:white;">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="openModal('add',undefined)" >Add employee<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
  <!-- Links -->

  <form class="form-inline my-2 my-lg-0" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="key" id="searchName" placehorlder="search employees..." [(ngModel)]="keySearch"  required>
    <button class="btn btn-success" type="submit" (click)="onSearchEmployee(keySearch)">Search</button>
  </form>
</nav>

<div class="container" id="main-container">
  <div class="row ">
    <div class="col-md-6 col-xl-3" *ngFor="let e of employees">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{e.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{e.name}}</h5>
            <p class="m-0">{{e.jobTitle}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{e.email}}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{e.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="openModal('edit',e)"><i class="fa fa-pencil"></i> </a>
            <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="openModal('delete',e)"><i class="fa fa-times"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
 <!-- add employee modal -->
 <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="addEmployeeModalLabel">add Employee</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form  [formGroup]="formAdd"   *ngIf="formAdd">
           <div class="form-group">
             <label for="name">Name</label>
             <input type="text" id="name" placeholder="Name" class="form-control" name="name" formControlName="name" required>

           </div>
           <div class="form-group">
             <label for="email">Email address</label>
             <input type="email" id="email" placeholder="Email" class="form-control" name="email" formControlName="email" required>

           </div>
           <div class="form-group">
             <label for="job">Job title</label>
             <input type="text" id="job" placeholder="Job title" class="form-control" name="job" formControlName="jobTitle" required>

           </div>
           <div class="form-group">
             <label for="phone">Phone number</label>
             <input type="text" id="phone" placeholder="Phone number" class="form-control" name="phone" formControlName="phone" required>

           </div>
           <div class="form-group">
             <label for="image">Image url</label>
             <input type="text" id="image" placeholder="Image url" class="form-control" name="image" formControlName="imageUrl" required>

           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button"   id="add-employee-form" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
         <button type="submit" class="btn btn-primary" [disabled]="formAdd.invalid" (click)="onSaveEmployee()" > Save changes</button>
       </div>
     </div>
   </div>
 </div>
   <!-- Edit Employee modal -->
 <div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="editEmployeeModalLabel">edit Employee</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form [formGroup]="formEdit" *ngIf="formEdit">
           <div class="form-group">

             <input type="hidden" id="id" placeholder="Id" class="form-control" name="id" formControlName="id" required>

           </div>
           <div class="form-group">
             <label for="name">Name</label>
             <input type="text" id="name" placeholder="Name" class="form-control" name="name" formControlName="name" required>

           </div>
           <div class="form-group">
             <label for="email">Email address</label>
             <input type="email" id="email" placeholder="Email" class="form-control" name="email" formControlName="email" required>

           </div>
           <div class="form-group">
             <label for="job">Job title</label>
             <input type="text" id="job" placeholder="Job title" class="form-control" name="job" formControlName="jobTitle" required>

           </div>
           <div class="form-group">
             <label for="phone">Phone number</label>
             <input type="text" id="phone" placeholder="Phone number" class="form-control" name="phone" formControlName="phone" required>

           </div>
           <div class="form-group">
             <label for="image">Image url</label>
             <input type="text" id="image" placeholder="Image url" class="form-control" name="image" formControlName="imageUrl" required>

           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" id="edit-employee-form" data-bs-dismiss="modal"class="btn btn-secondary">Close</button>
         <button type="submit" class="btn btn-primary" (click)="onUpdateEmployee()"  >Edit</button>
       </div>
     </div>
   </div>
 </div>
   <!-- Delete Employee modal -->
   <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete Employee</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <input type="hidden" [(ngModel)]="employeeId" >
           <p>Are sure you want delete employee {{deletedEmployee?.name}}?</p>
         </div>
         <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" (click)="noDeleteEmployee()">No</button>
           <button class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteEmployee(deletedEmployee?.id)">Yes</button>
         </div>
       </div>

     </div>
   </div>

   <!-- Notification for no employees -->
   <div class="col-lg-12 col-md-12 col-xl-12" *ngIf="employees?.length==0">
     <div class="aler alert-info" role="alert">
       <h4 class="alert-heading">No EMPLOYEES</h4>
       <p>No employees were found!</p>
     </div>
   </div>


